body {
  background-color: PowderBlue;
  color: white;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 200%;
  margin: 50px;
}

header {
  width: 75%;
  margin: 10px auto;
}

main {
  width: 100%;
  margin: 25px auto;
  display: flow-root;
}

.col {
  float: left;
  width: 50%;
  background-color: LightPink;
  outline-style: dotted;
}

p {
  font-family: Century Gothic,sans-serif;
  color: white;
  font-size: 50%;
}

h1 {
  color: MediumTurquoise;
  font-family: Century Gothic,sans-serif;
  text-align: center;
  font-size: 175%;
}

h2 {
  color: LavenderBlush;
  font-family: Century Gothic,sans-serif;
  text-align: center;
  font-size: 100%;
  margin-top: 15px;
}

h3 {
  font-family: Century Gothic,sans-serif;
  color: LightCyan;
  font-size: 50%;
}

li {
  font-family: Century Gothic,sans-serif;
  color: white;
  font-size: 50%;
  list-style-type: none;
  margin-right: 50px;
  margin-bottom: 10px;
}

a {
  color: MistyRose;
  font-family: Century Gothic,sans-serif;
  text-align: center;
}

a:visited {
  color: Lavender;
  font-family: Century Gothic,sans-serif;
  text-align: center;

}

a:hover {
  color: LavenderBlush;
  font-family: Century Gothic, sans-serif;
  text-align: center;
  font-style: bold;

}

@media screen and (max-width: 745px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  header {
    width: 100%;
  }
  p {
    width: 100%;
  }
 }
